
.admin-editor {
	width:98%;
	position:relative;
	margin:12px auto;
}

.admin-editor .title {
	color:#808080;
	width:100%;
	font-size: 40px;
	height:42px;
	display:block;
	overflow:hidden;
	outline:none;
	resize:none;
	background:transparent;
	border:none;
	margin-bottom:8px;
}

.admin-editor .body {
	color:#808080;
	display:block;
	overflow:hidden;
	outline:none;
	resize:none;
	background:transparent;
	border:none;
	width:100%;
	height:600px;
	margin-bottom:200px;
	white-space:pre-wrap;
	word-wrap:break-word;
	font-size:inherit;
}

#admin-bar {
	position:fixed;
	bottom:0px;
	left:0px;
	height:76px;
	width:100%;
	background-color:#282B2E;
	z-index:2;
}

#admin-bar .container {
	margin:0 auto;
}

#admin-bar .container .left { float:left; }

#admin-bar .container .right { float: right; }

#admin-bar .container span {
	display:block;
	float:left;
	padding:15px;
	margin:14px 5px 14px 0;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

#admin-bar .container a, #admin-bar .container input[type=submit] {
	display:block;
	float:left;
	padding:15px;
	margin:14px 5px 14px 0;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	border:none;
	cursor:pointer;
	background-color:black;
	border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	color:white !important;
}

#admin-bar .container a:hover, #admin-bar .container input[type=submit]:hover { background-color:red; }

#admin-posts {
	width:98%;
	margin:0 auto;
}

#admin-posts h1 { float:left; }

#admin-posts .button {
	float:right !important;
	padding:10px;
	font-size:12px;
	margin-top:26px;
}

#admin-posts ul {
	padding:0;
	margin:0;
	clear:both;
}

#admin-posts li {
	position:relative;
	list-style-type:none;
	padding:18px 0 20px 0;
	border-bottom:1px solid #e0e0e0;
}

#admin-posts li a {
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}

#admin-posts li a:hover { color:red; }

#admin-posts li span {
	float:right;
	display:none;
}

#admin-posts li span a {
	color:#a0a0a0;
	margin-left:10px;
	font-size:12px;
}

#admin-posts li em {
	position:absolute;
	right:0px;
	bottom:0px;
	font-size:10px;
	font-style: normal;
	color:#a0a0a0;
}

#admin-posts li em.date {
	position:absolute;
	left:0px;
	bottom:0px;
	font-size:10px;
	font-style: normal;
	color:#a0a0a0;
}

#admin-posts .post_block {
	float:left;
	width:100%;
	padding:20px;
	box-sizing:border-box;
}

#admin-posts li.draft {
	color: #a0a0a0;
}

#admin-posts li.draft:hover {
	color: #666;
}

#admin-posts #posts {
	float:left;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	color:#000;
}

#admin-posts #logout {
	font-weight: bold;
	font-size: 24px;
	position: fixed;
	right: 8px;
	top: 18px;
	z-index: 2;
}

#admin-posts #logout a {
	text-decoration:none;
	color:#FFF;
}

#admin-posts #logout a:hover { 
	text-decoration:underline;
	color: red; 
}

#admin-posts li span {
	display: none;
}

#admin-posts li:hover span {
	display: block;
}

@media only screen and (max-width: 800px)
{
	.admin-editor .title {
		font-size: 22px;
		height: 24px;
	}

	#admin-bar .container a, #admin-bar .container input[type=submit] {
		padding: 8px;
		margin: 23px 1px 14px 0;
	}

	#admin-bar .container span {
		padding: 0px;
		margin: 21px 5px 14px 8px;
	}
	
	#admin-bar .container span label,
	#admin-bar .container span select,
	#admin-bar .container span input {
		clear: both;
		float: left;
	}
}

.table_pager
{
	display: table;
	font-weight: bold;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-top: 8px;
	box-sizing: border-box;
	margin: 0 auto;
}

.table_pager span
{
	width: 28px;
	height: 28px;
	background-color: #000;
	float: left;
	margin-left: 3px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.table_pager .digit, .table_pager .next, .table_pager .prev, .table_pager .first, .table_pager .last
{
	width: 28px;
	height: 28px;
	background-color: #9A9A9A;
	float: left;
	margin-left: 3px;
	line-height: 30px;
	text-align: center;
	transition: all 0.3s ease-in-out 0s;
}

.table_pager .digit a, .table_pager .next a, .table_pager .prev a, .table_pager .first a, .table_pager .last a
{
	color: #fff;
	text-decoration: none;
	display: table;
	width: 28px;
	height: 28px;
}

.table_pager .digit:hover, .table_pager .next:hover, .table_pager .prev:hover, .table_pager .first:hover, .table_pager .last:hover
{
	background-color: #FF0000;
}


@media only screen and (max-width: 480px)
{
	#admin-bar
	{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
}
