
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

.admin-editor {
	width:98%;
	position:relative;
	margin:12px auto;
}

.admin-editor .title {
	color: #000000;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	height: 32px;
	line-height: 33px;
	display: inline-block;
	margin-bottom: 4px;
	margin-top: 4px;
	background-color: #FEFEFE;
	border: 1px solid rgba(169, 169, 169, 0.5);
	padding-left: 4px;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.admin-editor .body {
	color:#808080;
	display:block;
	overflow:hidden;
	outline:none;
	resize:none;
	background:transparent;
	border:none;
	width:100%;
	height:600px;
	margin-bottom:200px;
	white-space:pre-wrap;
	word-wrap:break-word;
	font-size:inherit;
}

.bar {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	background-color:#282B2E;
	z-index:2;
}

.bar-edit {
	position:fixed;
	top: auto;
	bottom:0px;
	left:0px;
	width:100%;
	background-color:#282B2E;
	z-index:2;
	height: 64px;
}

.bar .container {
	margin:0 auto;
}

.bar .container .left { float:left; }

.bar .container .right { float: right; }

.bar .container span {
	display:block;
	float:left;
	margin: 16px 6px 0px 0;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bar .container span.draft_check {
	padding-top: 8px;
}

.bar .container a, .bar .container input[type=submit] {
	display:block;
	float:left;
	padding:15px;
	margin: 8px 5px 14px 0;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	border:none;
	cursor:pointer;
	background-color:black;
	border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	color:white !important;
	transition: all 0.15s ease-in-out 0s;
}

.bar .container a:hover, .bar .container input[type=submit]:hover { background-color:red; }

.bar .container a:first-of-type
{
	margin-left: 5px;
}

.bar .container a:last-of-type
{
	margin-right: 5px;
}

.admin-content {
	width: 100%;
	margin:0 auto;
}

.admin-content h1 {
	float:left;
	margin-top: 0px;
	margin-bottom: 8px;
}

.admin-content h1 a {
	color: #000;
	text-decoration: none;
}

.admin-content h1 a:hover {
	color: red;
}

.admin-content .button {
	float:right;
	padding:10px;
	font-size:12px;
	margin-top:0px;
	margin-bottom: 8px;
	margin-right: 0px;
	margin-left: 5px;
}

.admin-content ul {
	padding:0;
	margin:0;
	clear:both;
}

.admin-content li {
	position:relative;
	list-style-type:none;
	padding:18px 0 20px 0;
	border-bottom:1px solid #e0e0e0;
}

.admin-content li:hover {
	background-color: #F4F4F4;
}

.admin-content li a {
	color:inherit;
	font-weight:bold;
	text-decoration:none;
	margin-left: 4px;
	margin-right: 4px;
}

.admin-content li a:hover { 
	color:red;
}

.admin-content li span {
	float:right;
	display:none;
}

.admin-content li span a {
	color:#a0a0a0;
	margin-left:10px;
	font-size:12px;
}

.admin-content li em {
	position:absolute;
	right:0px;
	bottom:0px;
	font-size:10px;
	font-style: normal;
	color:#a0a0a0;
}

.admin-content li em.date {
	position:absolute;
	left:0px;
	bottom:0px;
	font-size:10px;
	font-style: normal;
	color:#a0a0a0;
	margin-left: 4px;
}

.admin-content .post_block {
	float:left;
	width:100%;
	padding:20px;
	box-sizing:border-box;
}

.admin-content li.draft {
	color: #a0a0a0;
}

.admin-content li:hover,
.admin-content li:hover em,
.admin-content li:hover a
{
	color: #666;
}

.admin-content li:hover a:hover
{
	color: red;
}

.admin-content .inner {
	float:left;
	width:100%;
	padding: 8px 20px 20px 20px;
	box-sizing:border-box;
	color:#000;
}

.bar .logout {
	font-weight: bold;
	font-size: 24px;
	position: absolute;
	right: 8px;
	top: 6px;
	z-index: 2;
}

.bar .logout a {
	text-decoration:none;
	color:#FFF;
}

.bar .logout a:hover { 
	text-decoration:underline;
	color: red; 
}

.admin-content li span {
	display: none;
}

.admin-content li:hover span {
	display: block;
}

.admin-content li.published:hover a {
	color: #000;
}
.admin-content li.published a:hover {
	color: red;
}

.admin-content li span:last-child {
	margin-right: 4px;
}


.table_pager
{
	display: table;
	font-weight: bold;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-top: 8px;
	box-sizing: border-box;
	margin: 0 auto;
}

.table_pager span
{
	width: 28px;
	height: 28px;
	background-color: #000;
	float: left;
	margin-left: 3px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor: default;
}

.table_pager .digit, .table_pager .next, .table_pager .prev, .table_pager .first, .table_pager .last
{
	width: 28px;
	height: 28px;
	background-color: #D13D3D;
	float: left;
	margin-left: 3px;
	line-height: 30px;
	text-align: center;
	transition: all 0.15s ease-in-out 0s;
	border-radius: 3px;
}

.table_pager .digit a, .table_pager .next a, .table_pager .prev a, .table_pager .first a, .table_pager .last a
{
	color: #fff;
	text-decoration: none;
	display: table;
	width: 28px;
	height: 28px;
}

.table_pager .digit:hover, .table_pager .next:hover, .table_pager .prev:hover, .table_pager .first:hover, .table_pager .last:hover
{
	background-color: #FF0000;
}

.posts_filter
{
	float: left;
	clear: both;
	font-size: 13px;
	margin-bottom: 8px;
	width: 100%;
}

.status_filter
{
	float: left;
	padding-top: 12px;
}

.status_filter a
{
	text-decoration: none;
	color: #CD2A2A;
	transition: all 0.15s ease-in-out 0s;
}

.status_filter a span
{
	color: #AAA;
	font-size: 12px;
}

.status_filter a:hover
{
	color: #FF0000;
}

.status_filter a.active
{
	color: #000;
	font-weight: bold;
}

.general_filter
{
	float: right;
}

.admin-content input[type="submit"],
.admin-content input[type="button"]
{
	padding: 10px;
	margin: 0px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	border: none;
	cursor: pointer;
	background-color: black;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 12px;
	transition: all 0.15s ease-in-out 0s;
	-webkit-appearance: none;
}

.admin-content input[type="submit"]:hover,
.admin-content input[type="button"]:hover
{
	background-color: red;
}

.admin-content input[type="text"],
.admin-content input[type="password"]
{
	font-size: 12px;
	padding: 9px;
	background-color: #F2F2F2;
	border: 1px solid #A9A9A9;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-appearance: none;
}

.admin-content select,
.bar select
{
	background-color: #F2F2F2;
	padding: 8px;
	font-size: 12px;
	border: 1px solid #A9A9A9;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.admin-content textarea
{
	border: 1px solid #A9A9A9;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.admin-content select:hover,
.bar select:hover,
.admin-content input[type="text"]:hover,
.admin-content input[type="text"]:focus,
.admin-content input[type="password"]:hover,
.admin-content input[type="password"]:focus,
.admin-content input[type="button"]:focus
{
	background-color: #FCFCFC;
}


.admin-content input[type="text"].disabled, 
.admin-content input[type="text"]:disabled, 
.admin-content input[type="password"].disabled, 
.admin-content input[type="password"]:disabled, 
.admin-content select.disabled, 
.admin-content select:disabled, 
.admin-content textarea.disabled,
.admin-content textarea:disabled
{
	background: rgba(255,255,255,.5);
	border-color: rgba(222,222,222,.75);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
	color: rgba(51,51,51,.5);
}

.admin-content input[type="text"].error,  
.admin-content input[type="password"].error, 
.admin-content select.error, 
.admin-content textarea.error
{
	background: rgba(255,255,255,.5);
	border-color: rgba(217, 83, 79, 0.75);
	-webkit-box-shadow: inset 0 1px 2px rgba(217, 83, 79, 0.75);
	box-shadow: inset 0 1px 2px rgba(217, 83, 79, 0.75);
	animation: shake 1s;
}

.admin-content .inner-form
{
	float: none;
	max-width: 900px;
	margin: 0 auto;
}

.admin-content ::-webkit-input-placeholder {
	color: #000;
}

.admin-content :-moz-placeholder { /* Firefox 18- */
	color: #000;
}

.admin-content ::-moz-placeholder {  /* Firefox 19+ */
	color: #000;
}

.admin-content :-ms-input-placeholder {  
	color: #000;
}

.bar .links li.mobile-logout
{
	font-size: 18px;
	display: none;
}

.default_table
{
	font-size: 13px;
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 8px;
	box-sizing: border-box;
	clear: both;
}

.default_table tr th
{
	background-color: #4b4c48;
	border-right: 2px solid #ffffff;
	color: #ffffff;
	font-weight: bold;
	min-height: 28px;
	padding: 8px 4px;
	text-align: left;
	text-indent: 6px;
	font-size: 13px;
}

.default_table tr th.ajax-el-link, 
.default_table tr td.ajax-el-link
{
	cursor: pointer;
}

.default_table tr th.ajax-el-link:hover
{
	background-color: #969696;
}

.default_table tr td.ajax-el-link
{
	color: #CD2A2A;
}

.default_table tr td.ajax-el-link:hover
{
	background-color: #F5F5F5;
	color: #000000;
	font-weight: bold;
}

.default_table tr
{
	background-color: #EAEAEA;
	height: 28px;
}

.default_table tr td
{
	border-right: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	text-align: left;
	text-indent: 6px;
}

.default_table tr td input
{
	float: left;
	width: 100%;
}

.default_table tr td input.error
{
	background-color: #E57F7D!important;
	padding: 3px;
}

.default_table tr td select
{
	background-color: #dbdbda;
	border: 0px;
	padding: 3px;
}

.default_table tr:hover
{
	background-color: #F2F2F2;
}

.default_table tr.hidden
{
	display: none;
}

.default_table tr.form_buttons
{
	background-color: #D0D0D0 ! important;
	margin-top: 2px;
}

.default_table tr.form_buttons td
{
	border-right: 2px solid #ffffff;
	border-spacing: 0px;
	border-top: 0px solid #000000;
	text-align: center;
	padding: 4px;
}

.default_table tr.selected {
	background-color: #F2F2F2;
}

.default_table tr.selected td input
{
	background-color: #FDFDFD;
	font-size: 13px;
	min-height: 19px;
	width: 100%;
	color: #000;
	font-weight: bold;
}

.default_table tr.selected td select
{
	background-color: #8dc53e;
	border: 0;
	padding: 3px;
	color: #fff;
}

.default_table tr td a
{
	text-decoration: none;
	color: #CD2A2A;
	transition: all 0.15s ease-in-out 0s;
}

.default_table tr td a:hover
{
	color: #FF0000;
}

.expanded_table tbody tr
{
	height: 56px;
	vertical-align: middle;
}

.expanded_table tbody tr td:first-of-type a
{
	font-weight: bold;
}

.expanded_table tbody tr:hover td:first-of-type a:after
{
	font-size: 16px;
	content: "\f040";
	font-weight: normal;
	font-family: "FontAwesome";
}

.submit_btn_table {
    background: #000;
    border: 0px none;
    color: #fff;
    cursor: pointer;
    height: 28px;
    text-align: center;
    width: auto;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.15s ease-in-out 0s;
}

.submit_btn_table span {
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}

.submit_btn_table:hover
{
	background-color: red;
}

.admin-content h3
{
	clear: both;
}

#save-success-msg
{
	position:fixed;
	bottom:0px;
	right:10px;
	height:85px;
	width:100px;
	text-align:center;
	display:none;
	padding:5px !important;
	color:#ffffff;
	font-weight:bold;
	background-color:red;
	border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

@media only screen and (max-width: 800px)
{
	.bar .container a, .bar .container input[type=submit] {
		padding: 8px;
		margin: 15px 1px 14px 0;
	}

	.bar .container span {
		padding: 0px;
		margin: 3px 5px 14px 8px;
	}
	
	.bar .container span.draft_check
	{
		padding-top: 20px;
	}
	
	.bar .container span label,
	.bar .container span select,
	.bar .container span input {
		clear: both;
		float: left;
	}
	
	.general_filter
	{
		float: left;
		margin-top: 8px;
		clear: both;
	}
	
	.general_filter input[type="submit"]
	{
		margin-top: 8px;
	}
	
	.bar .links li.mobile-logout
	{
		display: table-cell;
	}

	.logout
	{
		display: none;
	}
}

@media only screen and (max-width: 480px)
{
	.bar
	{
		width: 100%;
		position: relative;
		clear: both;
		display: table;
		top: auto;
		bottom: auto;
	}
	
	#content
	{
		margin-top: 0px;
	}
	
	.admin-content .inner
	{
		padding: 8px;
	}
}
