/***** KAJAX *****/
@-webkit-keyframes kajax-loader-spinner
{
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%
	{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

@-moz-keyframes kajax-loader-spinner
{
	0%
	{
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%
	{
		-moz-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

@-o-keyframes kajax-loader-spinner
{
	0%
	{
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%
	{
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

@-ms-keyframes kajax-loader-spinner
{
	0%
	{
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%
	{
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

@keyframes kajax-loader-spinner
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
}

#kajax-overlay
{
	background-color:rgba(0,0,0,0.7);
	text-shadow:2px 2px #000000;
	color:#ffffff;
	left:0;
	font-family:'Verdana';
	padding:40px 100px 40px 100px;
	position:absolute;
	display:block;
	top:0;
	height:100%;
	width:100%;
	z-index:100000;
}

.kajax-loading, 
.loading-spinner
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.kajax-loading .kajax-loading-image, 
.loading-spinner .loading-spinner-image
{
	position:relative;
	top: 50%;
	transform: 			translateY(-50%);
	margin:0px auto;
	z-index:4000;
	width:24px;
	height:24px;
	border:solid 2px transparent;
	border-top-color:#282B2E;
	border-left-color:#282B2E;
	border-radius:20px;
	-webkit-animation:kajax-loader-spinner 400ms linear infinite;
	-moz-animation:kajax-loader-spinner 400ms linear infinite;
	-ms-animation:kajax-loader-spinner 400ms linear infinite;
	-o-animation:kajax-loader-spinner 400ms linear infinite;
	animation:kajax-loader-spinner 400ms linear infinite;
}
/***** KAJAX *****/

a:active, a:focus { outline:none; }

a
{
	text-decoration: none;
	color: #CD2A2A;
	transition: all 0.15s ease-in-out 0s;
}

a:hover
{
	color: #FF0000;
}

.no_selection {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.blue_links a {
	text-decoration:none;
	color:#4183c4;
}

.blue_links a:hover { text-decoration:underline; }

body {
	font-family:'Lato', Helvetica, sans-serif;
	font-size:16px;
	background-color:#FCFCFC;
	margin:0;
	padding:0;
	overflow-x:hidden;
	font-family: "Open Sans",sans-serif;
}

::-moz-selection {
	background-color:#d00000;
	color:#ffffff;
}

::selection {
	background-color:#d00000;
	color:#ffffff;
}

input, button, textarea {
	font-family:inherit; 
	-webkit-appearance: none;
}

.hidden
{
	display: none;
}

.bar {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	position:fixed;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	height: 41px;
	background-color: #282B2E;
	z-index: 1;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.bar #logo {
	margin:40px 0px 0px 50px;
	height:144px;
	width:100px;
	background:url('../images/logo.png') no-repeat center;
}

.bar #logo #logo-fx {
	position:absolute;
	top:-27px;
	left:-14px;
	height:225px;
	width:225px;
	background:url('../images/fx.png') no-repeat center;
	opacity:0;
	-ms-filter:"alpha(opacity=0)";
	-khtml-opacity:0;
	-webkit-animation-name:contract;
	-moz-animation-name:contract;
	-webkit-animation-duration:6s;
	-moz-animation-duration:6s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
}

.bar .menu {
	position: relative;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	line-height: 41px;
}

.bar ul.links {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	display: table;
	max-width: 480px;
}

.bar .links li {
	list-style-type:none;
	display: table-cell;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
}

.bar .links li a {
	text-decoration:none;
	color: #EAEAEA;
}

.bar .links li a:hover {
	color:red;
}

.bar #rss {
	position: absolute;
	top: 26px;
	right: 4px;
}

.bar #rss a {
	padding:3px 12px 3px 12px;
	text-decoration:none;
	font-size:16px;
	border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background-color: #FF8600;
	color:white;
}

.bar #rss a:hover { background-color:red; }

#content {
	padding:0px;
	margin-top: 41px;
}

#content >h1 {
	margin:12px 0 0 12px;
	font-size:35px;
	font-family:'Lato';
	font-weight:900;
	padding:0;
}

a img { border:0; }

#ajax-target { position:relative; }

.blend_input {
	display:block;
	overflow:hidden;
	outline:none;
	resize:none;
	background:transparent;
	border:none;
}

.square-link {
	display:block;
	float:left;
	padding:15px;
	margin:14px 5px 14px 0;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.square-button {
	display:block;
	float:left;
	padding:15px;
	margin:14px 5px 14px 0;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	border:none;
	cursor:pointer;
	background-color:black;
	border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	color:white;
	transition: all 0.15s ease-in-out 0s;
}

.square-button:hover { background-color:red; }

.big_title {
	margin:12px 0 0 12px;
	font-size:35px;
	font-family:'Lato';
	font-weight:900;
	padding:0;
}

.blog_post {
	margin: 51px auto;
	width:98%;
	border-bottom:1px solid #e0e0e0;
}

.blog_post .date {
	font-size:12px;
	font-weight:bold;
	width: 90%;
	margin: 0 auto;
}

.blog_post >h1 {
	margin: 12px auto;
	font-size:35px;
	font-family:'Lato';
	font-weight:900;
	padding:0;
	width: 90%;
}

.blog_post >h1 >a {
	color:black;
	text-decoration:none;
}

.blog_post >h1 >a:hover { color:red; }

.blog_post .markdown {
	width:90%;
	margin:30px auto;
	color:#808080;
}

.blog_post .markdown h1, .blog_post .markdown h2, .blog_post .markdown h3, .blog_post .markdown h4, .blog_post .markdown h5 { color:black; }

.blog_post .markdown li { line-height:2.0em; }

.blog_post .markdown a {
	text-decoration:none;
	color:#4183c4;
}

.blog_post .markdown a:hover { text-decoration:underline; }

.blog_post .markdown img {
	border: 2px solid #f0f0f0;
	padding: 5px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.blog_post .markdown blockquote {
	border-left:5px solid #505050;
	padding-left:16px;
	margin:0;
}

.blog_post .markdown .footnotes {
	margin-top:50px;
	font-size:14px;
}

.blog_post .markdown .footnotes hr {
	color:#e0e0e0;
	background-color:#e0e0e0;
	border:none;
	height:1px;
}

.blog_post_lonely
{
	border-bottom: 0px;
}

.padded { padding:50px 0 0 50px; }

.styled-box {
	border:5px solid black;
	width:440px;
	margin: 72px auto 0px;
	padding:0px;
}

.stylish-form {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.stylish-form .mail_icon { background:url('../images/mail.png') no-repeat center right; }

.stylish-form .robot_icon { background:url('../images/robot.png') no-repeat center right; }

.stylish-form p {
	color:#808080;
	font-size:18px;
}

.stylish-form li {
	list-style-type:none;
	border-bottom:1px solid #e0e0e0;
	padding:20px;
	margin:0;
}

.stylish-form input[type=password], .stylish-form input[type=text], .stylish-form textarea {
	font-size:22px;
	width:100%;
	display:block;
	overflow:hidden;
	outline:none;
	resize:none;
	background:transparent;
	border:none;
	padding-left:10px;
	-webkit-appearance: none;
}

.stylish-form input[type=password]:focus, .stylish-form input[type=text]:focus, .stylish-form textarea:focus { border-left:4px solid red; }

.stylish-form input[type=submit] {
	float:left;
	padding:15px;
	margin:14px 5px 14px 0;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	border:none;
	cursor:pointer;
	background-color:black;
	border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	color:white !important;
	float:none;
}

.stylish-form input[type=submit]:hover { background-color:red; }

.stylish-form input[type=checkbox] {
	cursor:pointer;
}

.stylish-form label {
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.placeholder { color:#808080; }

.form-error {
	padding:5px !important;
	display:none;
	background-color:#ffffb4;
}
.form-error p {
	text-align:center;
	display:none;
}

.form-error p:first-child { display:block !important; }

#minimap
{
	display:none;
	opacity:0.5;
	position:fixed;
	top:41px;
	bottom:0px;
	right:0px;
	width:120px;
	list-style-type:none;
	padding:0;
	padding:20px 0 20px 0;
	margin:0;
	border-right:1px solid #e0e0e0;
}

#minimap li .mark
{
	position:absolute;
	bottom:0;
	top:0;
	right:0;
	width:10px;
	background-color:#c00000;
	display:none;
}

#minimap li .selected
{
	background-color:#606060 !important;
}

#minimap li a
{
	position:relative;
	margin-top:5px;
	background-color:#b0b0b0;
	border-right:0;
	display:block;
	padding:5px;
	padding-right:10px;
	text-align:center;
	color:#a0a0a0;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color:white;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

#minimap li a:hover { background-color:#808080; }

.hljs {
	overflow:auto;
	font-size:12px;
}

input[type="checkbox"]
{
	display:none;
}

input[type="checkbox"] + label
{
	cursor: pointer;
}

input[type="checkbox"] + label:before
{
	font-family: FontAwesome;
	display: inline-block;
	content: "\00a0";
	font-family: "FontAwesome";
	width: 16px;
	height: 16px;
	background-color: #FFF;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	padding: 2px;
	margin-right: 4px;
	line-height: 16px;
	transition: all 0.2s ease-in-out 0s;
	cursor: pointer;
	text-indent: 0px;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

input[type="checkbox"]:checked + label:before
{
	background-color: #d9534f;
	border: 1px solid #d9534f;
	content: "\f00c";
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-table
{
	clear: both;
	width: 100%;
}

.form-table tbody th
{
	color: #23282d;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	padding: 20px 10px 20px 0;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
}

.form-table tbody tr td input[type="text"],
.form-table tbody tr td input[type="password"],
.form-table tbody tr td select,
.form-table tbody tr td textarea 
{
	font-size: 14px;
	min-width: 400px;
	background-color: #FCFCFC;
	-webkit-appearance: none;
}

.form-table p, p.description, p.help, span.description
{
	font-size: 13px;
	font-style: italic;
	color: #666;
}

p.submit
{
	clear: both;
}

p.submit input[type="submit"]:hover, 
p.submit input[type="button"]:hover
{
	background-color: red;
}
p.submit input[type="submit"], 
p.submit input[type="button"] {
	padding: 10px;
	margin: 0px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	border: none;
	cursor: pointer;
	background-color: black;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 12px;
	transition: all 0.15s ease-in-out 0s;
	float: left;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 8px;
	-webkit-appearance: none;
}

@media only screen and (max-width: 800px)
{
	.form-table tbody tr th,
	.form-table tbody tr td
	{
		display: block;
		width: auto;
		vertical-align: middle;
	}

	.form-table tbody tr td input[type="text"],
	.form-table tbody tr td input[type="password"],
	.form-table tbody tr td select,
	.form-table tbody tr td textarea 
	{
		min-width: 100%;
	}

	.blog_post .markdown,
	.blog_post >h1,
	.blog_post .date
	{
		width: 95%;
	}
}


@media only screen and (max-width: 600px)
{
	.blog_post .markdown img
	{
		max-width: 320px;
	}
}

@media only screen and (max-width: 480px)
{
	.styled-box
	{
		width: auto;
	
		margin-top: 0px;
	}
}
